/*CSS styling sheet for CodingKids CIS 430 class Final Project */


* {
	box-sizing: 		border-box;
}

body {
	margin: 0;
	font-family: 		sans-serif;
}

.col-0 {display: none;}
		.col-1  {width: 		  8.33%; }
		.col-2  {width: 		 16.66%; }
		.col-3  {width: 		 25.00%; }
		.col-4  {width: 		 33.33%; }
		.col-5  {width: 		 41.66%; }
		.col-6  {width: 		 50.00%; }
		.col-7  {width: 		 58.33%; }
		.col-8  {width: 		 66.66%; }
		.col-9  {width: 		 75.00%; }
		.col-10 {width: 		 83.33%; }
		.col-11 {width: 		 91.66%; }
		.col-12 {width: 		100.00%; }

		[class*="col-"] {
			float: 				left;
			border-radius: 		10px;
			border: 			4px solid white;
		}

		.row::after {
			content: 			"";
			clear: 				both;
			display: 			block;
		}

@media only screen
	and (max-aspect-ratio: 1/1) {
		.col-pm-0 {display: none;}
		.col-pm-1  {width: 		  8.33%; }
		.col-pm-2  {width: 		 16.66%; }
		.col-pm-3  {width: 		 25.00%; }
		.col-pm-4  {width: 		 33.33%; }
		.col-pm-5  {width: 		 41.66%; }
		.col-pm-6  {width: 		 50.00%; }
		.col-pm-7  {width: 		 58.33%; }
		.col-pm-8  {width: 		 66.66%; }
		.col-pm-9  {width: 		 75.00%; }
		.col-pm-10 {width: 		 83.33%; }
		.col-pm-11 {width: 		 91.66%; }
		.col-pm-12 {width: 		100.00%; }
	}

@media only screen
	and (min-aspect-ratio: 4/3){
		.col-sd-0 {display: none;}
		.col-sd-1  {width: 		  8.33%; }
		.col-sd-2  {width: 		 16.66%; }
		.col-sd-3  {width: 		 25.00%; }
		.col-sd-4  {width: 		 33.33%; }
		.col-sd-5  {width: 		 41.66%; }
		.col-sd-6  {width: 		 50.00%; }
		.col-sd-7  {width: 		 58.33%; }
		.col-sd-8  {width: 		 66.66%; }
		.col-sd-9  {width: 		 75.00%; }
		.col-sd-10 {width: 		 83.33%; }
		.col-sd-11 {width: 		 91.66%; }
		.col-sd-12 {width: 		100.00%; }
	}
